/* 共通 */
* {
  color: #411E0C
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8;
}

.section-title > img {
  width: 40px;
}

.section-title > strong {
  font-size: 24px;
  letter-spacing: 2px;
}

.section-title > span {
  font-size: 16px;
  font-weight: normal;
}

.main-wapper {
  padding: 20px 0;
}

/* header */
#header {
  padding: 10px 32px;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

#header > nav {
  display: none;
}

.logo {
  text-align: center;
}

.logo > img {
  height: 50px;
  margin-bottom: 10px;
}

.logo > div {
  margin-top: 10px;
  font-size: 48px;
  font-weight: bold;
  /* TODO 数字を画像の上に移動 */
}

.humberger-menu {
  height: 54px;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 40px;
}

.humberger-menu:before,
.humberger-menu:after {
  background: #411E0C;
  content: "";
  display: block;
  height: 2px;
  left: 10%;
  position: absolute;
  width: 80%;
}

.humberger-menu:before {
  box-shadow: 0 9px 0 #411E0C;
    top: 0;
}

.humberger-menu:after {
  top: 18px;
}

/* hero */
.hero {
  padding-top: 32px;
  position: relative;
  height: 60vh;
}

.hero > .bg-img {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/coffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(6px);
  z-index: -1;
}

.main-img {
  display: flex;
  justify-content: center;
  padding: 0 32px;
}

.main-img > img {
  max-width: 96%;
  max-height: 40vh;
}

/* overview */
.overview {
  padding: 50px 16px;
}

.overview > h2 {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  
}

.overview > p {
  margin-top: 40px;
  line-height: 2;
  letter-spacing: 1px;
}

/* TODO コーヒー豆の画像 */

/* menu */

.menus > h2,
.menus > h3 {
  text-align: center;
}

.menus > h2 {
  font-size: 18px;
}

.menus > h3 {
  margin-top: 24px;
  font-size: 12px;
}

.menu-list {
  margin-top: 24px;
  padding: 0 16px;
}

.menu {
  margin-top: 3px;
  padding: 18px 0 18px 18px;
  background-color: #E8E5E4;
  list-style: none;
  line-height: 1.5;
}

.menu:first-child {
  margin-top: 0;
}

.menu-image-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.menu-image {
  width: 100%;
  margin: 2px 0;
  background-color: #411E0C;
}

.menu-image > img {
  width: 100%;
}

.menu-image-discription {
  line-height: 1.5;
  padding: 18px 0 18px 18px;
  color: #fff;
}

.menu-annotation {
  padding: 18px;
  line-height: 1.5;
}

/* 利用案内 */
.information-list {
  margin-top: 30px;
  padding: 0 16px;
}

.information-list dl {
  padding: 16px;
  line-height: 1.8;
  border-top: 1px solid #E8E5E4
}

.information-list dl:last-child {
  border-bottom: 1px solid #E8E5E4
}

/* 地図 */
.map-wrapper {
  padding: 16px;
  margin: 0 auto;
}

.map-wrapper iframe {
  max-width: 100%;
}

/* sns */
.sns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sns-list {
  list-style: none;
  margin-top: 20px;
  display: flex;
}

.sns-list li {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .main-wapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
  }

  .main-bg {
    background-image: url(../images/dog.jpg);
  }
  
  /* header */
  .humberger-menu {
    display: none;
  }

  #header > nav {
    display: block;
    align-self: center;
  }

  #header > nav > ul {
    display: flex;
  }

  #header > nav > ul > li {
    margin-right: 20px;
  }

  #header > nav > ul > li:last-child {
    margin-right: 0;
  }

  /* overview */
  .overview > p {
    text-align: center;
  }

  /* menu */
  .menu-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .menu {
    width: 33%;
  }

  .menu:first-child {
    margin-top:3px;
  }

  .menu:nth-child(3n+2) {
    margin-right: 0.5%;
    margin-left: 0.5%;
  }

  .menu-image-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-image {
    width: 33%;
  }

  /* インフォーメーション */
  .information-list dl {
    display: flex;
  }

  .information-list dt {
    width: 30%;
  }

  .information-list dd {
    width: 70%;
  }
}